html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}


h1 {
  font-size: 3rem;
  padding-top: 0.5rem;
  color: white;
}

h2 {
  border-left: solid 1rem #DEB887;
  padding-left: 1.5rem;
  margin-top: 8rem;
  font-size: 4rem;
  font-weight: lighter;
}

nav {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 1.5rem;
  margin-left: 2rem;
}

nav a {
  padding-bottom: 1.5rem;
  color: white;
  margin-right: 2rem;
  text-decoration: none;
  transition: all 0.3s ease;
  /* 添加渐变效果 */
}

nav a:hover {
  /* font-weight: bolder; */
  border-bottom: 0.5rem solid white;
  padding-bottom: 1rem;
}



/* 轮播背景图 */
.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  /* 设置轮播图占据整个视窗的高度 */
}

.intro-heading {
  position: absolute;
  /* 使用绝对定位将标题覆盖在轮播图上 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  line-height: 3rem;
  
}

.background-slider {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 1s;
  filter: brightness(50%);
}

.slide.active {
  opacity: 1;
}

.slide.rhino {
  background-image: url("img/rhino/rhino_hurt_1.jpg");
}

.slide.whale {
  background-image: url("img/whale/whale-hurt.webp");
}

.slide.elephant {
  background-image: url("img/elephant/elephant-hurt.jpg");
}


/* ------------------------ */



section {
  width: 100vw;
  /* height: 100vh; */
  /* overflow-y: hidden; */
  border-top: 0.5px solid #7c7c7c;
  display: flex;
  align-items: center;
  justify-content: center;

}

.text-content {
  max-width: 70%;
  margin-bottom: 1rem;
  height: 100%;
  width: 100%;
}

.paragraph {
  position: relative;
  width: 30%;
  margin: 1%;
  float: left;
}

h3 {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
}

p {
  font-size: 1rem;
  color: #333;
}

li {
  list-style: none;
}

h4 {
  font-size: 2rem;
  color: #333;
}

h5{
  font-size: 1.5rem;
}
.font-2 {
  margin-top: 0;
  padding: 1rem;
}

.square-container{
  height: 13rem;
  border: #7c7c7c solid 0.5px;
  border-radius: 0 0 0.5rem 0.5rem;
}


.image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-top: 3rem;
  object-fit: cover;
}


/* 第五部分，我们能做什么的背景图设置 */
.background-img{
  position:relative;
  /* background-image: url('img/rhino/rhino-sanctuary.jpg'); */
  background-size: cover; 
  background-position: center; 
} 

.background-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.background-img .text-content{
  color: white;
  z-index: 2;
  padding-bottom: 8rem;
}

.background-img .text-content p{
  color: white;
}

.background-img .text-content h2{
  border-left:solid 1rem #F5DEB3;
}
.background-img .text-content h3{
  color: white;
}

.background-img a{
  color: #F5DEB3;
}


/* ------------------------------ */
a {
  text-decoration: none;
  color:rgb(155, 155, 155);
}

footer {
  position: relative;
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

footer p{
  color:white;
}

.conclusion {
  height: 90vh;
}

